@import '~antd/dist/antd.css';

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}

.menu__logo {
  width: 150px;
  float: left;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu__logo span{
  font-size: 1.2rem;
}
.menu__search{
  width: 500px;
  float: left;
  margin-left:100px;
  margin-top: 17px;
}
.menu__logo div {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 15px;
  display: inline-block !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu__mobile-button__bell {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 15px;
  margin-right: 10px;
  display: inline-block !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

.search{
  margin-top:15px;
  margin-left:5px;
  float: left;
}

.wrapper {
  display: flex;
}
.search ul{
  list-style-type: none;
  margin-left: -11%;
  margin-top: 4%;

  position: absolute; 
  z-index: 30;
  top: 0;
  border: 1px solid #dddddd;
}
.auto_complete{
  width: 300px;
}
.search button{
  width:30px;
  height:30px;
  background-color:transparent;
  border:none;
}
.comment__button{
  width: 20%;
  height: 52px ;
}
.upload__video{
  display: flex; 
  justify-content: space-between;
  margin-left:210px;
}
.upload__button{
  width: 40%;
  margin-left: 210px;
}
.upload__ondrop{
  width: 300px; 
  height: 240px;
  border: 1px solid lightgray; 
  display: flex; 
  align-items: center;
  justify-content: center; 
}
.option{
  display: block;
}
.menu__autocomplete{
  margin-top: 15px;
  display: block;
  border-style: dashed;
}
.menu__landingpage{
  margin-left:36px;
}
.side__video{
  display:flex;
  margin-top:1rem;
  padding:0 2rem;
}
.side__image{
  position:relative;
  width:50%;
  margin-right:1rem;
}
.side__duration{
  position:absolute;
  background-color:transparent;
  color:white;
  font-size:11px;
  margin-left:80%;
  margin-top:-15%;
}
.action__user{
  background-color:#1E90FF;
  border-radius:4px;
  color:white;
  padding:10px 16px;
  font-weight:500;
  font-size:1rem;
}
.action__like_subscribe{
  display: flex;
}
.action__edit_delete{
  display: flex;
}
.action__like{
  margin-top: 12px;
}
.action__report{
  margin-top: 12px;
  margin-right: 10px;
}
.detail__action_delete{
  margin-left: 8px;
}
.detail__post_page{
  width: 100%;
  padding: 3rem 4em;
}
.upload_progressbar{
  margin-left: 80px;
}
.livestream-form{
  display: inline-block;
  margin-top: 5%;
  margin-left: 30%;
}
.livestream-chatbox{
  padding:20px;
  height: 418px;
  overflow-y: scroll;
}
.livestream-chatform{
  margin-left: 5px;
  margin-top: 10px;
  display: flex;
}
.livestream-text-area{
  width:80%;
  border-radius: 5px;
}
.livestream-button{
  width: 20%;
  height: 52px;
  margin-left: 5px;
}
.livestream-icon{
  font-size: 25px;
}
.action__livestream{
  margin-right: 10px;
}
.livestream-hls-player{
  width: 100%;
  height: 480px;
}
.livestream-chat-text{
  margin-left: 20%;
}
.image-video-livestream{
  width: 100%;
  height: 525px;
}
@media (max-width: 767px) {
  /* .chatbox-web{
    display: none;
  } */
  /* .chatbox-web{
    position: absolute;
    margin-top: -110%;
    margin-left: 40%;
  }
  .livestream-text-area{
    background-color: transparent;
  }
  .livestream-button{
    background-color: transparent;
  }
  .livestream-icon{
    margin-left: -3px;
    margin-top: 3px;
    font-size: 18px;
  } */
  .image-video-livestream{
    width: 100%;
    height: 200px;
  }
  .livestream-chat-text{
    margin-left: 25%;
  }
  .livestream-chatbox{
    padding: 0;
    height: 100px;
    background-color: transparent;
    overflow-y: scroll;
  }
  .livestream-comment-item .ant-comment-inner{
    padding: 0px;
  }
  .livestream-form{
    margin-left: 0px;
  }
  .livestream-hls-player{
    width: 100%;
    height: 240px;
  }
  .menu{
    padding: 0 15px;
  }
  .action__report{
    margin-top: 7px;
    margin-right: 15px;
  }
  .upload_progressbar{
    margin-left: 30px;
  }
  .menu__mobile-button {
    margin-top: 8px;
    display: inline-block !important;
  }

  .menu__mobile-button__bell {
    margin-top: 8px;
    margin-right: 10px;
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }
  .menu__logo{
    width: 76px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .menu__logo span{
    font-size: 0.7rem;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
  .search{
    margin-top: 8px;
    margin-left:0px;
    position: relative;
  }
  .auto_complete {
    width: 180px;
  }
  .ant-btn{
    font-size: 9.5px;
  }
  .top > .search_btn{
      display: block;
      justify-self: right;
  }

  .top.search_active > * {
      display: none;

  }

  .top.search_active .search{
      display: grid;
      grid-column: 2/-1;
      grid-template-columns: [search-start] 1fr auto;
  }

  .top.search_active .back_btn{
      display: inline;
  }
  .upload__ondrop{
    width: 150px;
    height: 120px;
    border: 0.5px solid lightgray; 
    margin-left: 5%;
  }
  .upload__information{
    margin-left: 10px;
    margin-right: 10px;
  }
  .upload__button{
    margin-left: 130px;
    width: 40%;
  }
  .menu__landingpage{
    margin-left: 1px;
  }
  .side__duration{
    margin-top: -12%;
    margin-left: 86%;
  }
  .detail__post_page{
    padding: 1rem 2rem;
  }
  .action__edit_delete{
    display: flex;
    width: 150px;
    margin-top: 70px;
  }
  .action__like_subscribe{
    display: flex;
    margin-top: 90px;
  }
  .detail__action_edit{
    margin-left: 35px;
  }
  .detail__action_delete{
    margin-left: 5px;
  }
  .action__user{
    border-radius:2px;
    padding:5px 8px;
    font-weight:500;
    font-size:0.8rem;
  }
  .action__item_meta{
    position: absolute;
    margin-bottom: 45px;
  }
  .action__like{
    margin-left: 42px;
    margin-top: 7px;
  }
  .upload__video{
    margin-left: 27%;
  }
  .upload__thumbnail{
    margin-left: -24%;
  }
}
